@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  background-color: #fff;
  line-height: 1.3;
  color: #000;
  font-size: 12px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%;
  border: none; }

form {
  margin: 0; }

input[type="submit"] {
  cursor: pointer;
  border: none; }

input {
  border: none; }

textarea {
  resize: none;
  border: none;
  -webkit-appearance: none;
  overflow: auto; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1; }

::-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 1; }

*, *:focus {
  outline: none !important; }

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input, textarea, input:before, textarea:before, input:after, textarea:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial; }

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

button {
  border: none;
  cursor: pointer; }

.inner::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px; }

.inner > * {
  display: inline-block;
  vertical-align: middle; }

.grey-bg {
  background: #f6f8f8; }

.blue-bg {
  background: #30436b; }

.blue-text {
  color: #30436b; }

.orange-text {
  color: #ef6223; }

.sub {
  font-size: 12px;
  color: inherit; }

.container {
  width: 1060px;
  margin: 0 auto;
  padding: 0 10px; }

.row {
  margin: 0 -10px; }

.icon {
  display: inline-block; }

.form-control {
  display: inline-block;
  height: 57px;
  padding: 0 15px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #7e878d;
  font-size: 16px; }

.form-btn {
  display: inline-block;
  height: 57px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #fff;
  font-weight: 600;
  background: #ef6223;
  padding: 0 27px;
  font-size: 16px;
  text-transform: uppercase; }
  .form-btn:hover {
    background: #d0551e; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer; }
    input[type="checkbox"] + label::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      background: #fff;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      margin-right: 14px; }
  input[type="checkbox"]:checked + label::before {
    background: #fff url("../img/checkbox-checked.png") no-repeat center center; }

.simple-text-block {
  font-size: 18px;
  padding: 27px 0;
  color: #5a6464;
  border-bottom: 1px solid #e4ebec; }

.btn {
  display: inline-block;
  height: 46px;
  line-height: 46px;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
  font-size: 16px;
  padding: 0 25px; }
  .btn.white-btn {
    border-color: #fff;
    color: #fff; }
    .btn.white-btn:hover {
      color: #30436b;
      background: #fff; }
  .btn.orange-btn {
    font-size: 16px;
    border-color: #ef6223;
    color: #ef6223; }
    .btn.orange-btn:hover {
      color: #fff;
      background: #ef6223; }

.header {
  height: 80px;
  width: 100%;
  background: #fff; }
  .header .logo {
    float: left;
    margin-top: 15px; }
  .header .header-nav {
    float: right;
    margin-top: 25px; }
    .header .header-nav span {
      margin-left: 15px; }
    .header .header-nav li {
      display: inline-block;
      margin-right: 26px; }
      .header .header-nav li a {
        font-size: 16px; }
        .header .header-nav li a:hover {
          color: #ef6223; }

.footer .container {
  text-align: center;
  padding-bottom: 50px; }

.footer .footer-nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  padding: 42px 0 34px 0; }
  .footer .footer-nav li a {
    padding: 0 10px;
    color: #515a60; }
  .footer .footer-nav li a:hover {
    color: #ef6223; }

.footer .logo {
  margin-bottom: 32px; }

.admin-ic {
  background-image: url(../img/sprite.png);
  background-position: -70px -97px;
  width: 29px;
  height: 30px; }

.apartment-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -62px;
  width: 35px;
  height: 35px; }

.commerce-ic {
  background-image: url(../img/sprite.png);
  background-position: -97px 0px;
  width: 35px;
  height: 34px; }

.crime-ic {
  background-image: url(../img/sprite.png);
  background-position: -62px 0px;
  width: 35px;
  height: 35px; }

.hands-ic {
  background-image: url(../img/sprite.png);
  background-position: -97px -34px;
  width: 35px;
  height: 34px; }

.home-ic {
  background-image: url(../img/sprite.png);
  background-position: -70px -62px;
  width: 27px;
  height: 35px; }

.keys-ic {
  background-image: url(../img/sprite.png);
  background-position: -35px -97px;
  width: 35px;
  height: 33px; }

.people-ic {
  background-image: url(../img/sprite.png);
  background-position: -35px -62px;
  width: 35px;
  height: 35px; }

.planet-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 62px;
  height: 62px; }

.resident-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -97px;
  width: 35px;
  height: 34px; }

.search-ic {
  background-image: url(../img/sprite.png);
  background-position: -97px -68px;
  width: 19px;
  height: 19px; }

.inner {
  height: -webkit-calc( 100vh - 80px);
  height: calc( 100vh - 80px);
  background: url("../img/inner-bg.jpg") no-repeat top center;
  background-size: cover;
  text-align: center; }
  .inner .inner-block {
    color: #fff; }
    .inner .inner-block h1 {
      font-size: 72px;
      font-weight: 700;
      margin-bottom: 30px; }
    .inner .inner-block > span {
      font-size: 28px;
      font-weight: 300; }
    .inner .inner-block .inner-form {
      padding: 25px 37px;
      background: rgba(0, 0, 0, 0.45);
      margin-top: 40px;
      text-align: left; }
      .inner .inner-block .inner-form .first-form .form-control {
        width: 325px; }
      .inner .inner-block .inner-form input + input, .inner .inner-block .inner-form select + input {
        margin-left: 4px; }
      .inner .inner-block .inner-form .more-option-btn {
        cursor: pointer;
        display: inline-block;
        margin-top: 8px; }
      .inner .inner-block .inner-form .more-option-form {
        display: none; }

.service-wrap {
  overflow: hidden;
  padding: 55px 0 40px 0; }
  .service-wrap .service-item {
    float: left;
    padding: 0 10px;
    width: 33.3333%;
    margin-bottom: 35px; }
    .service-wrap .service-item .title {
      color: #ef6223;
      font-size: 20px;
      padding: 9px 0; }
    .service-wrap .service-item p {
      width: 63%; }

.carousel-inner h1 {
  color: #515a60;
  font-size: 24px;
  margin-bottom: 20px; }

.carousel-block {
  height: 57px;
  line-height: 57px;
  border: 1px solid #e2e6e7; }
  .carousel-block .services-slider a {
    color: #ef6223;
    font-size: 16px;
    font-weight: 600; }
    .carousel-block .services-slider a a:hover {
      color: #30436b; }

.category-wrap {
  padding: 60px 0 75px 0;
  overflow: hidden; }
  .category-wrap > .container > .title {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    text-align: center; }
  .category-wrap .news-row {
    margin: 50px -10px;
    overflow: hidden; }
  .category-wrap .news-post {
    width: 33.3333%;
    float: left;
    padding: 0 10px; }
    .category-wrap .news-post + .news-post {
      padding-left: 25px; }
    .category-wrap .news-post .news-content {
      background: #fff;
      border-top: 6px solid #90bed5;
      -webkit-border-radius: 1px;
              border-radius: 1px;
      padding: 20px; }
      .category-wrap .news-post .news-content .title {
        color: #515a60;
        font-size: 20px;
        margin-bottom: 13px; }
      .category-wrap .news-post .news-content a:hover {
        font-weight: 700; }

.category-btn {
  text-align: center;
  margin-top: 43px; }
  .category-btn .btn {
    margin: 0 12px; }

.counties {
  padding: 60px 0 52px 0;
  overflow: hidden; }
  .counties .title {
    color: #515a60;
    font-size: 38px;
    text-align: center; }
  .counties .orange-btn {
    margin-bottom: 28px; }

.search-district {
  overflow: hidden;
  margin-bottom: 75px; }

.search-row {
  background: #ef6223;
  height: 103px;
  color: #fff; }
  .search-row .icon {
    float: left;
    margin: 20px 27px; }
  .search-row h1 {
    font-size: 30px;
    font-weight: 600; }
  .search-row h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 7px; }
  .search-row a {
    color: #fff; }
  .search-row span {
    color: #a54619;
    font-size: 14px; }

.search-title {
  float: left;
  width: 50%;
  line-height: 103px; }

.regional-search-wrap .regional-search {
  text-align: center;
  float: left;
  width: 16.6666%;
  border-left: 1px solid #da5a1f;
  padding: 23px; }

.sign-login .title {
  padding: 40px 0 32px 0;
  display: inline-block;
  width: 50%;
  color: #fff; }
  .sign-login .title p {
    font-size: 16px; }
  .sign-login .title span {
    display: inline-block;
    font-size: 32px;
    margin-bottom: 8px; }

.sign-login .category-btn {
  display: inline-block;
  float: right;
  margin: 65px 0 45px 0;
  width: 50%;
  text-align: right; }
  .sign-login .category-btn .btn {
    margin: 0 0 0 45px; }

.more-option-btn {
  color: #adadad; }

.more-option-form .input-group {
  margin-bottom: 16px; }
  .more-option-form .input-group label {
    padding-right: 50px;
    font-size: 16px;
    color: #d6d6d7; }
  .more-option-form .input-group input {
    width: 240px; }
  .more-option-form .input-group select {
    width: 240px;
    height: 57px;
    padding: 0 15px; }

.more-option-form .option-form-nav li {
  display: inline-block;
  font-size: 16px;
  width: 240px;
  padding: 12px 0 8px 0;
  margin-right: 4px;
  color: #828283; }
  .more-option-form .option-form-nav li a {
    padding: 0 10px; }
  .more-option-form .option-form-nav li a:hover {
    color: #ef6223; }
